<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>홈 화면</h2>
  </div>

  <div class="row">
<!--    <div class="col">-->
<!--      <button sec:authorize="isAnonymous()"-->
<!--              class="w-100 btn btn-secondary btn-lg" type="button"-->
<!--              th:onclick="|location.href='@{/users/add}'|">-->
<!--        회원 가입-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <button sec:authorize="isAnonymous()"-->
<!--              class="w-100 btn btn-primary btn-lg" type="button"-->
<!--              th:onclick="|location.href='@{/login}'|">-->
<!--        로그인-->
<!--      </button>-->

<!--      <button sec:authorize="isAuthenticated()"-->
<!--              class="w-100 btn btn-dark btn-lg" type="button"-->
<!--              th:onclick="|location.href='@{/logout}'|">-->
<!--        로그아웃-->
<!--      </button>-->
<!--    </div>-->
    <div class="col">
<!--      sec:authorize="isAuthenticated()"-->
      <button
              class="w-100 btn btn-primary btn-lg" type="button"
              th:onclick="|location.href='@{/pharmacies}'|">
        약국 목록
      </button>
    </div>
<!--    <div class="col">-->
<!--      <button sec:authorize="isAuthenticated()"-->
<!--              class="w-100 btn btn-primary btn-lg" type="button"-->
<!--              th:onclick="|location.href='@{/orders}'|">-->
<!--        주문 목록-->
<!--      </button>-->
<!--    </div>-->
  </div>

  <hr class="my-4">

</div> <!-- /container -->

</body>
</html>